@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


@foreach (var correo in ViewBag.correo)
{
    <p>Asunto: @correo.Asunto</p>
    <p>Destinatario: @correo.Destino</p>
    <!-- Otras propiedades de MailProduccion que quieras mostrar -->
    <hr />
}

<p>Use this page to detail your site's privacy policy.</p>
